<div class="card">
  <div class="card-body">
    <div class="d-md-flex align-items-center">
      <div>
        <h4 class="card-title">
          Projects of the Month
        </h4>
        <h6 class="card-subtitle">Monthly Sales of 2020</h6>
      </div>
      <div class="ml-auto">
        <select class="custom-select b-0">
          <option selected="">January 2020</option>
          <option value="1">February 2020</option>
          <option value="2">March 2020</option>
          <option value="3">April 2020</option>
        </select>
      </div>
    </div>

  </div>
  <div class="table-responsive">
    <table class="table v-middle mb-0">
      <thead>
        <tr>
          <th class="border-top-0 font-medium border-bottom-0">Products</th>
          <th class="border-top-0 font-medium border-bottom-0">License</th>
          <th class="border-top-0 font-medium border-bottom-0">Support Agent</th>
          <th class="border-top-0 font-medium border-bottom-0">Technology</th>
          <th class="border-top-0 font-medium border-bottom-0">Tickets</th>
          <th class="border-top-0 font-medium border-bottom-0">Sales</th>
          <th class="border-top-0 font-medium border-bottom-0">Earnings</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let ts of topSelling'>
          <td>
            <div class="d-flex align-items-center">
              <div class="m-r-10">
                <a class="btn btn-circle {{ts.productClass}} text-white"> {{ts.productInitial}}</a>
              </div>
              <div class="">
                <h4 class="m-b-0 font-16">{{ts.productName}}</h4>
              </div>
            </div>
          </td>
          <td>{{ts.licene}}</td>
          <td>{{ts.agent}}</td>
          <td>
            <label class="label {{ts.technologyClass}}">{{ts.technology}}</label>
          </td>
          <td>{{ts.tickets}}</td>
          <td>{{ts.sales}}</td>
          <td>
            <h5 class="m-b-0">${{ts.earning}}</h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>