<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User profile -->
    <div class="user-profile">
      <!-- User profile image -->
      <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user" />
        <!-- this is blinking heartbit-->
        <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
      </div>
      <!-- User profile text-->
      <div class="profile-text">
        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Markarn
          Doe <i class="fa fa-angle-down"></i></a>
        <div class="dropdown-menu animated flipInY">
          <!-- text-->
          <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
          <!-- text-->
          <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
          <!-- text-->
          <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
          <!-- text-->
          <div class="dropdown-divider"></div>
          <!-- text-->
          <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
          <!-- text-->
          <div class="dropdown-divider"></div>
          <!-- text-->
          <a href="#" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
          <!-- text-->
        </div>
      </div>
    </div>
    <!-- End User profile text-->
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <li class="nav-small-cap">PERSONAL</li>
        <li [class.active]="showMenu === 'start'">
          <a routerLink="/starter" (click)="addExpandClass('start')" [routerLinkActive]="['router-link-active']"><i class="icon-speedometer"></i><span
              class="hide-menu">Starter Page</span></a>
        </li>
        <li class="nav-small-cap">UI COMPONENTS</li>
        <li>
          <a routerLink="/accordion" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-equal"></i><span class="hide-menu">Accordion</span></a>
        </li>
        <li>
          <a routerLink="/alert" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-message-bulleted"></i><span
              class="hide-menu">Alert</span></a>
        </li>
        <li>
          <a routerLink="/carousel" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-view-carousel"></i><span class="hide-menu">Carousel</span></a>
        </li>
        <li>
          <a routerLink="/datepicker" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-calendar-clock"></i><span class="hide-menu">Datepicker</span></a>
        </li>
        <li>
          <a routerLink="/dropdown" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-arrange-bring-to-front"></i><span class="hide-menu">Dropdown - Collapse</span></a>
        </li>
        <li>
          <a routerLink="/modal" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-tablet"></i><span
              class="hide-menu">Modal</span></a>
        </li>
        <li>
          <a routerLink="/pagination" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-backburger"></i><span class="hide-menu">Pagination</span></a>
        </li>
        <li>
          <a routerLink="/poptool" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-image-filter-vintage"></i><span
              class="hide-menu">Popover & Tooltip</span></a>
        </li>
        <li>
          <a routerLink="/progressbar" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-poll"></i><span class="hide-menu">Progressbar</span></a>
        </li>
        <li>
          <a routerLink="/rating" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-bandcamp"></i><span
              class="hide-menu">Ratings</span></a>
        </li>
        <li>
          <a routerLink="/tabs" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-sort-variant"></i><span
              class="hide-menu">Tabs</span></a>
        </li>
        <li>
          <a routerLink="/timepicker" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-calendar-clock"></i><span class="hide-menu">Timepicker</span></a>
        </li>
        <li>
          <a routerLink="/typehead" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-blur-radial"></i><span class="hide-menu">Typehead</span></a>
        </li>

        <li class="m-t-40 p-20 upgrade-btn">
          <a href="https://wrappixel.com/templates/elite-angular-admin/" target="_blank" class="btn btn-danger text-white">Upgrade
            To Pro</a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->