/*******************
 Breadcrumb and page title
*******************/

.page-breadcrumb {
    padding: 20px;  
	background: $white;
    margin: 30px 0 30px;
    position: relative;
    box-shadow: 1px 0 5px rgba(0,0,0,.1);
    .breadcrumb {
        padding: 0px;
        margin: 0px;
        background: transparent;
        font-size: 12px;
        .breadcrumb-item+.breadcrumb-item::before {
            content: "\e649";
            font-family: themify;
            color: $gray-400;
            font-size: 11px;
        }
    }
}
